*.o
*.a
moc_*
qrc_*
qtc-*
Makefile*
*~
include/*
configure-stamp
*.anh
*.log
*.debhelper
agros.substvars
agros
agros.pro.user
debian/files
resources_source/doc/build
resources/help
setup
install
*.res
*.qhc
*.qch
*.qm
*.pyc
data/data
doc/doxygen
*.ans
*.user
*.exe
pthreadGC2.dll
mingwm10.dll
resources_source/python/agros.cpp
data/scripts/test/jac.txt
data/scripts/test/test_acoustic_planar.py.orig
jac.txt
resources/couplings/.project
resources_source/python/agros.cpp
tmp
*.obj
*.dll
*.tlog
*.ipch
*.filters
*.vcxproj
*.manifest
*.lastbuildstate
*.lib
*.pdb
*.ilk
*.exp
*.opensdf
*.sdf
*.sln
*.suo
agros_generator
agros_solver
pythonlab
solver_external
libs/
plugins/
git_fetch.sh
data/save
DLLs
tcl
*.poly
*.ele
*.geo
*.node
*.edge
*.gen
.project
resources_source/resources.rc
*.depend
*.depends
*.stamp
*.cache
*.cmake
*.mesh
*.msh
*.sol
*.bak
*.spc
CMakeFiles
CMakeCache.txt
*.unsuccessfulbuild
*_automoc.cpp
*.cbp
util/config.h
agros-library/__/
pythonlab-library/__/
CMake.vars
*.ts
3rdparty/gmsh/Common/GmshConfig.h
3rdparty/gmsh/Common/GmshConfig.h
3rdparty/gmsh/Common/GmshVersion.h
3rdparty/gmsh/DartConfiguration.tcl
3rdparty/matio/matioConfig.h
3rdparty/netgen/config_netgen.h
*.opt
data/
cmake_options.texi
resources/python/jedi/evaluate/compiled/
3rdparty/paralution/build/
DartConfiguration.tcl
Testing/
install_manifest.txt
standalone
*.supp
optilab
solver-external-paralution/paralution/build/
libs/solver_stat
.ipynb_checkpoints
*ninja*
agros-library/util/agros_version.h
projects
Agros.AppDir/resources/
3rdparty/bayesopt/Doxyfile
*_autogen/
.qtc_clangd/
agrossuite.egg-info/
agrossuite/_agros.so
build/
dist/
