Source: agros2d
Section: science
Priority: extra
Maintainer: Pavel Karban <pkarban@gmail.com>
Build-Depends: debhelper (>= 7), qmlscene (>= 5.4.0), libqt5opengl5-dev (>= 5.4.0), qttools5-dev-tools (>= 5.4.0), qt5-qmake (>= 5.4.0), libqt5webkit5-dev (>= 5.4.0), qtxmlpatterns5-dev-tools (>= 5.4.0), libqt5svg5-dev (>= 5.4.0), qttools5-dev (>= 5.4.0), libqt5xmlpatterns5-dev (>= 5.4.0), qtdeclarative5-dev (>= 5.4.0), libsuitesparse-dev (>= 3.1.0), libmumps-seq-dev (>= 4.10.0), python3-dev (>= 3.5.0), python3 (>= 3.5.0), libssl-dev (>= 0.9.8), xsdcxx (>= 3.3.0), libxerces-c-dev (>= 3.1.0), cython3 (>= 0.17.0), cmake (>= 2.8.10), gfortran (>= 4.7.0), zlib1g-dev,
Standards-Version: 3.8.0
Homepage: http://agros2d.org

Package: agros2d
Architecture: any
Depends: ${shlibs:Depends}, gmsh, libmumps-seq-5.3, libblas3 (>= 1.2), libqt5opengl5 (>= 5.4.0), libqt5xmlpatterns5 (>= 5.4.0), libqt5opengl5 (>= 5.4.0), libqt5printsupport5 (>= 5.4.0), libqt5webkit5 (>= 5.4.0), libqt5gui5 (>= 5.4.0), libxerces-c3.2 (>= 3.2.0)
Description: hp-FEM multiphysics application based on Hermes2D library
 Agros2D is a multiplatform C++ application for the solution of two-dimensional 
 problems described by partial differential equations (PDE), based on the Hermes2D library. 
 The user can create models, solve them using adaptive higher-order finite 
 element methods (hp-FEM), and visualize and postprocess the results.
 Currently, the following problem types can be solved:
  - Electrostatic fields
  - Electric current fields
  - Magnetic fields (steady state, harmonic and transient analysis)
  - Heat transfer (steady state and transient analysis) 
  - Structrural mechanics
  - Acoustics
  - Incompresible flow
  - RF waves
