<h3>dealii</h3>
Web page: <a href=\http://dealii.org/\>http://dealii.org/</a><br/><br/>
<br/>
<b>Authors:</b>
<br/>

<p>
<b>Principal developers</b><br/>
Wolfgang Bangerth, Texas A&M University, TX, USA<br/>
Timo Heister, Clemson University, SC, USA<br/>
Guido Kanschat, Universität Heidelberg, Germany<br/>
Matthias Maier, Universität Heidelberg, Germany<br/>
<br/>
<b>Developers</b><br/>
Luca Heltai, SISSA, Trieste, Italy<br/>
Martin Kronbichler, Technische Universität München, Germany<br/>
Bruno Turcksin, Texas A&M University, TX, USA<br/>
Toby D. Young, Polish Academy of Sciences, Poland<br/>
</p>
