<h3>Libraries</h3>
<b>Qt:</b> Qt (<a href=\https://www.qt.io/\>Qt - Cross-platform application and UI development framework</a>)<br/>
<b>Python:</b> Python Programming Language (<a href=\http://www.python.org\>Python</a>)<br/>
<b>libdxfrw:</b> LibreCAD DXF library (<a href=\http://sourceforge.net/projects/libdxfrw/\>libdxfrw</a>)<br/>
<b>ctemplate:</b> Simple but powerful template language for C++ (<a href=\http://code.google.com/p/ctemplate/\>ctemplate</a>)<br/>
<b>matio:</b> MAT File I/O Library (<a href=\http://sourceforge.net/projects/matio/\>matio</a>)<br/>
<b>Triangle:</b> Jonathan Richard Shewchuk (<a href=\http://www.cs.cmu.edu/~quake/triangle.html\>Triangle</a>)<br/>
<b>MUMPS:</b> A MUltifrontal Massively Parallel sparse direct Solver (<a href=\http://graal.ens-lyon.fr/MUMPS/\>MUMPS</a>)<br/>
<b>QCustomChart:</b> QCustomChart (<a href=\http://www.workslikeclockwork.com/index.php/components/qt-plotting-widget/\>Qt Plotting Widget</a>)<br/>
<b>BayesOpt:</b> Bayesian optimization library (<a href=\https://github.com/rmcantin/bayesopt/\>BayesOpt</a>)<br/>
<b>NLopt:</b> Free/open-source library for nonlinear optimization (<a href=\https://nlopt.readthedocs.io/en/latest/\>NLopt</a>)<br/>
<b>exprtk:</b> Mathematical Expression Toolkit Library (<a href=\https://github.com/ArashPartow/exprtk/\>exprtk</a>)<br/>
