<h3>Shortcuts</h3>

<h4>Project</h4>
<table>
  <tr>
    <td><b>Ctrl + N</b></td>
    <td>New project</td>    
  </tr>
  <tr>
    <td><b>Ctrl + O</b></td>
    <td>Open existing project</td>    
  </tr>
  <tr>
    <td><b>Ctrl + S</b></td>
    <td>Save project</td>    
  </tr>
  <tr>
    <td><b>Ctrl + F4</b></td>
    <td>Close project</td>    
  </tr>
  <tr>
    <td><b>Ctrl + M</b></td>
    <td>Create script from model</td>    
  </tr>
</table>

<h4>Geometry</h4>
<table>
  <tr>
    <td><b>Alt + N</b></td>
    <td>Add node</td>    
  </tr>
  <tr>
    <td><b>Alt + E</b></td>
    <td>Add edge</td>    
  </tr>
  <tr>
    <td><b>Alt + L</b></td>
    <td>Add label</td>    
  </tr>
  <tr>
    <td><b>Space</b></td>
    <td>Open properties dialog</td>    
  </tr>
</table>

<h4>Others</h4>
<table>
  <tr>
    <td><b>F11</b></td>
    <td>Full screen mode (open/close)</td>    
  </tr>
</table>
<br/>
<h3>Controls</h3>
<p></p>
<table>
  <tr>
    <td><b>Ctrl + Left click</b></td>
    <td>Add node/edge/label directly by mouse</td>    
  </tr>
  <tr>
    <td><b>Ctrl + Shift + Left click</b></td>
    <td>Move nodes/edges/labels by mouse</td>    
  </tr>
  <tr>
    <td><b>Middle button double click</b> or <b>Shift + Left double click</b></td>
    <td>Zoom to fit</td>    
  </tr>
  <tr>
    <td><b>Mouse wheel</b></td>
    <td>Zoom the workspace</td>    
  </tr>
  <tr>
    <td><b>Shift + Left click</b> or <b>Middle button click</b></td>
    <td>Pan over the workspace (you can also use arrows keys)</td>    
  </tr>
</table>









