<h3>Shortcuts</h3>
<br/>
<h4>Project</h4>
<table>
  <tr>
    <td><b>Ctrl + N</b></td>
    <td>New project</td>    
  </tr>
  <tr>
    <td><b>Ctrl + O</b></td>
    <td>Open existing project</td>    
  </tr>
  <tr>
    <td><b>Ctrl + S</b></td>
    <td>Save project</td>    
  </tr>
  <tr>
    <td><b>Ctrl + F4</b></td>
    <td>Close project</td>    
  </tr>
  <tr>
    <td><b>Ctrl + M</b></td>
    <td>Create script from model</td>    
  </tr>
</table>

<h4>Geometry</h4>
<table>
  <tr>
    <td><b>Alt + N</b></td>
    <td>Add node</td>    
  </tr>
  <tr>
    <td><b>Alt + E</b></td>
    <td>Add edge</td>    
  </tr>
  <tr>
    <td><b>Alt + L</b></td>
    <td>Add label</td>    
  </tr>
  <tr>
    <td><b>Space</b></td>
    <td>Open properties dialog</td>    
  </tr>
</table>

<h4>Others</h4>
<table>
  <tr>
    <td><b>F11</b></td>
    <td>Full screen mode (open/close)</td>    
  </tr>
</table>
