<h3>Shortcuts</h3>

<h4>Project</h4>
<table>
  <tr>
    <td><b>Ctrl + N</b></td>
    <td>New project</td>    
  </tr>
  <tr>
    <td><b>Ctrl + O</b></td>
    <td>Open existing project</td>    
  </tr>
  <tr>
    <td><b>Ctrl + S</b></td>
    <td>Save project</td>    
  </tr>
  <tr>
    <td><b>Ctrl + F4</b></td>
    <td>Close project</td>    
  </tr>
  <tr>
    <td><b>Ctrl + M</b></td>
    <td>Create script from model</td>    
  </tr>
</table>

<h4>Geometry</h4>
<table>
  <tr>
    <td><b>N</b></td>
    <td>Work with Nodes</td>    
  </tr>
  <tr>
    <td><b>E</b></td>
    <td>Work with Edges</td>    
  </tr>
  <tr>
    <td><b>L</b></td>
    <td>Work with Labels</td>    
  </tr>
  <tr>
    <td><b>Alt + N</b></td>
    <td>Add Node</td>    
  </tr>
  <tr>
    <td><b>Alt + E</b></td>
    <td>Add Edge</td>    
  </tr>
  <tr>
    <td><b>Alt + L</b></td>
    <td>Add Label</td>    
  </tr>
  
  <tr>
    <td><b>Space</b></td>
    <td>Open properties dialog</td>    
  </tr>
</table>

<h4>Others</h4>
<table>
  <tr>
    <td><b>F1</b></td>
    <td>Switch to Welcome page</td>    
  </tr>
   <tr>
    <td><b>F2</b></td>
    <td>Switch to Problem</td>    
  </tr>
   <tr>
    <td><b>F3</b></td>
    <td>Switch to Results (when is active)</td>    
  </tr>
   <tr>
    <td><b>F4</b></td>
    <td>Switch to Study</td>    
  </tr>
   <tr>
    <td><b>F5</b></td>
    <td>Switch to Optilab (when is active)</td>    
  </tr>
  <tr>
    <td><b>F11</b></td>
    <td>Full screen mode (open/close)</td>    
  </tr>
</table>
<br/>
<h3>Controls</h3>
<p></p>
<table>
  <tr>
    <td><b>Ctrl + Left click</b></td>
    <td>Add node/edge/label directly by mouse</td>    
  </tr>
  <tr>
    <td><b>Ctrl + Shift + Left click</b></td>
    <td>Move nodes/edges/labels by mouse</td>    
  </tr>
  <tr>
    <td><b>Middle button double click</b> or <b>Shift + Left double click</b></td>
    <td>Zoom to fit</td>    
  </tr>
  <tr>
    <td><b>Mouse wheel</b></td>
    <td>Zoom the workspace</td>    
  </tr>
  <tr>
    <td><b>Shift + Left click</b> or <b>Middle button click</b></td>
    <td>Pan over the workspace (you can also use arrows keys)</td>    
  </tr>
</table>









